<ion-header>

  <ion-navbar color="primary">
    <ion-title>InventoryAdd</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="addGroceryForm" (submit)="addGrocery()" novalidate>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="name" type="text" placeholder="What are you adding?">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!addGroceryForm.controls.name.valid && addGroceryForm.controls.name.dirty">
      <p>You need to enter its name.</p>
    </ion-item>

    <ion-item *ngIf="!inShoppingList">
      <ion-label stacked>How many?</ion-label>
      <ion-input formControlName="quantity" type="number" placeholder="How many are you adding?">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!addGroceryForm.controls.quantity.valid && addGroceryForm.controls.quantity.dirty">
      <p>You need to enter how many you're adding.</p>
    </ion-item>

    <ion-list radio-group formControlName="units">
      <ion-list-header>
        How do you measure it?
      </ion-list-header>

      <ion-item>
        <ion-label>Units</ion-label>
        <ion-radio checked="true" value="units"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Grams</ion-label>
        <ion-radio value="grams"></ion-radio>
      </ion-item>

    </ion-list>

    <button ion-button block type="submit" [disabled]="!addGroceryForm.valid">
      Add Grocery
    </button>
  </form>
</ion-content>