<ion-header>

  <ion-navbar color="primary">
    <ion-title>ShoppingList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="addSingleGrocery()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab color="primary" (click)="addBulkGroceries()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      Grocery List
    </ion-list-header>
    <ion-item *ngFor="let grocery of groceryList | async">
      {{ grocery.name }}
      <button ion-button item-end (click)="pickQuantity(grocery.id, grocery.name, grocery.units, grocery.teamId)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Picked Groceries
    </ion-list-header>
    <ion-item *ngFor="let pickedGrocery of pickedGroceryList | async">
      {{ pickedGrocery.name }}
      <button ion-button item-end (click)="removeGrocery(pickedGrocery.id, pickedGrocery.teamId)">
        <ion-icon name="remove"></ion-icon>
      </button>
      <span class="smaller-font" item-end>
        {{ pickedGrocery.quantityShopping }} {{ pickedGrocery.units }}
      </span>
      <button ion-button item-end (click)="addGrocery(pickedGrocery.id, pickedGrocery.teamId)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>